body{
    overflow-x: hidden;
}


html{
    font-family: 'Raleway', sans-serif;
    color: #102263;
    margin-top: 0;
}


.btn{
    border-radius: 100px;
    margin-top: 1rem;
    background-color: #102263;
    border: none;
}

.btn:hover{
    border-radius: 100px;
    margin-top: 1rem;
    background-color: white;
    border: 1px solid #102263;
    color: #102263;
}

/************************************************************************************* HEADER **************************************************************************************/
header{
    height: fit-content;
    width: 100vw;
    background-image: url("img/img-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    text-align: center;
}

h1{
    margin-top: 0;
    color: white;
    text-transform: uppercase ;
    font-weight: 750 ;
    font-size: 8rem;
    letter-spacing: 2rem;
    padding-top: 10rem;
    margin-left: auto;
    width: fit-content;
    margin-bottom: 15rem;
    word-break: break-word;
}

.encres{
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: right;
    padding-right: 1rem;
    border-right: 4px solid white;
margin-bottom: 10rem;
}

.encres a{
    color: white;
    font-size: 5rem;
}


.socialMedia img{
    width: 3rem;
    display: block;
    margin-top: 2rem;
}


h3{
    font-family: 'Mr Dafoe', cursive;
    color: white;
}

/* Boutton scroll */

.scrollWrap{
    display:flex;
    position:relative;
    justify-content:center;
    bottom:-15rem;
}
.scroll{
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: #ffffff 2px solid;
    border-radius: 40%;
    width: 35px;
    height: 50px;
    animation-name: animF;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    color: transparent;
    position: absolute;
    bottom : 3vh;
    transition: 0.25s;
}

.scroll:visited{
    border: white 2px solid;
    color: transparent;
}

.scroll:hover{

    color: transparent;
}


.scroll::before{
    content: "";
    width: 5px;
    height: 8px;
    border: #ffffff 2px solid;
    position: absolute;
    border-radius: 100%;
    margin: 40% 40%;
    transition: 0.25s;
}

.scroll::after{
    content: "";
    width: 15px;
    height: 15px;
    border-top: #ffffff 2px solid;
    border-right: #ffffff 2px solid;
    position: absolute;
    top: 45px;
    right: -5px;
    transform: rotate(132deg);
    margin: 40% 40%;
    animation-name: opa;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    transition: 0.25s;
}

@keyframes animF{
    0%{
        transform: translateY(3px)
    }
    100%{
        transform: translateY(-3px)
    }
}
@keyframes opa{
    0%{
         opacity: 100%;
    }
    100%{
        opacity: 10%;
    }
}


header::after{
    content: "";
    display: block;
    height: 25vh;
    background: linear-gradient(transparent, #f6f6f6);
}

#apropos::before{
    content: "";
    display: block;
    height: 12vh;
    background: linear-gradient(transparent, #ffffff);
   margin-top: -5rem;
    
}

/************************************************************************************* Section Globales **************************************************************************************/

 h2::before{
content: "";
width: 5rem;
border-top: 4px solid  #06195d;
display: block;
margin: auto;
margin-bottom: 1rem;
}

h2{
    width: fit-content;
    text-align: center;
    text-transform: uppercase;
    display: inline-block; 
    color:  #06195d;
    font-weight: bold;
    margin-bottom: 7rem;
}

h2::after{
    width: 5rem;
content: "";
border-top: 4px solid  #06195d;
display: block;
margin: auto;
margin-top: 1rem;
}

p{
font-size: 1.6rem;
color:  #06195d;
z-index: 1;
}


/************************************************************************************* A propos **************************************************************************************/
#apropos{
    height: fit-content;
    padding-top: 8rem;
    position: relative;
}

#apropos h2{
    display: block;
    width: fit-content;
    text-align: right;
    margin-left: auto;
    
}

@media (min-width: 992px){
    #apropos .textepropos{
        text-align: right;
        }
}



#apropos .competences img{
    max-width: 150px;
    max-height: 150px;
   display: block;
    margin: auto;
    margin-top: 5rem;

}
.caption p{
    margin-top: 5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 8rem;

}

.rocimg{
    position: absolute;
    width: 420px;
    right: 60%;
    bottom: -30%;
}

b{
    color: #698fe0;
    text-transform: capitalize;
}

/************************************************************************************* Realisations **************************************************************************************/
#real{
    position: relative;
    width: 100vw;
    background-image: url(img/img-meduse.png);
    background-repeat: no-repeat;
    background-size: calc(max(25%, 250px));
    background-position: right 10% top 0;
}




#real h2{
    display: block;
    text-align: left;
    width: fit-content;
    margin-right: 0;
}

#real .boutontrav .pic{
    margin-top: 2rem;
    }

@media (max-width: 992px){
    #real .boutontrav .pic{
        min-width: 22vw;
        }
    #real{
        padding-top: 30vh;
        }
}


@media (max-width: 992px) and (min-width:768px){
    #real .boutontrav .pic{
        min-width: 24%;
        
        }
}

.boutontrav{
padding-top: 5rem;
justify-content: space-between;

}
.meduse{
    right: 0;
    width: 50%;
    top: -10rem;
    max-width: 600px;
    position: absolute;
}
.vaisseau{
    max-width: 410px;
}
.pictureprez{
    padding: 0;
    margin-top: 15rem;
    
}
.pictureprez .pic{
  
border-radius: 20%;
margin-bottom: 2rem;

    }

    @media (max-width: 992px){
        p{
            text-align: left;
            }
        #apropos h2{
            margin: auto;
            margin-bottom:2rem ;
            }
        #real h2{
            margin: auto;
            margin-bottom:2rem ;
                }
    }
/************************************************************************************* Contact **************************************************************************************/

footer h2{
    margin-top: 15rem;
    margin-bottom: 15rem;
}

.coordonnees{
    margin-bottom: 5rem;
}

footer{
    height: fit-content;
    width: 100vw;
    background-image: url(img/img-fond.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 10rem;
}

footer .socialMedia{
    margin-top: 4rem;
    display: flex;}

footer .socialMedia img{
    margin-right: 2rem;
}

.noPhp{
    color: white;
}



/************************************************************************************* RealPage **************************************************************************************/
.realPage{
background-position: center bottom -80px;
background-repeat: no-repeat;
margin-top: 5vh;
max-height: 100vh;

}
.realPage h1::before{
    content: "";
    width: 5rem;
    border-top: 4px solid  #06195d;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    
    }
    
.realPage  h1{
    width: fit-content;
    text-align: center;
    text-transform: uppercase;
    display: block; 
    color:  #06195d;
    font-weight: bold;
    margin-bottom: 7rem;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0;
    padding-top: 3rem;
    }
    
.realPage  h1::after{
        width: 5rem;
    content: "";
    border-top: 4px solid  #06195d;
    display: block;
    margin: auto;
    margin-top: 1rem;
    }

.realPage  h2{
    margin-left: 1rem;
    }
.realPage  h2:after{
        content: none;
     }    
.realPage  h2:before{
        content: none;
     }        

.realPage img{
    max-width: 100vw;
}

.carouWrap img{
    margin: auto;
}

.realPage .btn{
margin-bottom: 5rem;
}

.carousel{
    margin-bottom: 2rem;
    background-color: rgba(241, 241, 241, 0);
}

.item img{
    margin-right: 0;
    margin: auto;
    max-height: 80vh;
}

@media (min-width:991px){
    .realPage .row{
        display: flex;
        height: 30vw;
        margin-bottom: 5rem;
        
    }
    .item img{
        margin-right: 0;
        margin: auto;
        max-height: 30vw;
    }
    
    .realPage .textepropos::-webkit-scrollbar {
        width: 10px;
      }
      .realPage .textepropos::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      .realPage .textepropos::-webkit-scrollbar-thumb {
        background: #06195d;
      }
      .realPage .textepropos::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
      
      .realPage .textepropos{
        height: inherit;
        overflow-y: scroll ;
        margin: 0;
        margin-bottom: 0;
    }
    .item img{
        height: 25px;
    }
    
}




.realPage .pictureprez{
    margin-top: 0;
    margin-bottom: 0;
}

.realPage .pictureprez div{
    margin-top: 2rem;
}

.realPage .pictureprez img{
padding: 2rem;
  display: block;
  margin: auto;
}

@media (min-width:991px){
    .realPage .container-fluid{
        margin-left: 12%;
        }
}
