body{
    overflow-x: hidden;
}


html{
    font-family: 'Raleway', sans-serif;
    color: #102263;
    margin-top: 0;
}

.btn{
    border-radius: 100px;
    margin-top: 1rem;
    background-color: #102263;
    transition: ease-in-out .2s;
    font-size: 16px;
}

.btn:hover{
    border-radius: 100px;
    margin-top: 1rem;
    background-color: white;
    border: 1px solid #102263;
    color: #102263;
}

a{
    transition: ease-in-out 0.2s;
}
/************************************************************************************* nav **************************************************************************************/
nav{
    width: 100vw;
    position: fixed;
    transition: ease-in-out 0.2s;
}

.index nav{
    width: 100vw;
    position: fixed;
    transition: ease-in-out 0.2s;
    opacity: 0;
}

.navbar-default {
    background-color: white ;
}

.navbar-default .navbar-nav{
   text-transform: uppercase;
}

.realPage nav{
    opacity: 100;
}

#burgerMenu{
    display: none;
    cursor: pointer;
}

nav .container{
    padding: 0;
}



@media (max-width:768px){
 .index #burgerMenu{
        height: 70px;
        width: 70px;
        display: block;
        position: fixed;
        right: 0;
        z-index: 100;
        opacity: 0;
        margin: 25px;
        
    }

    #croixmenu{
        height: 70px;
        width: 70px;
        display: none;
    }
   
    nav{  
        z-index: 50;
        height: 100vh;
        display: none;
    }
    nav li:first-of-type{
        padding-right: 3vw;
        padding-top: 3vh;
        padding-bottom:15vh;
        width: 100%;
        display: block;
    }

    #croixmenu{
        height: 70px;
        width: 70px;
        display: block;
        margin-left: auto;
        margin-right: 25px;
        cursor: pointer;
    }

    nav .pull-right{
        float: none!important;
        margin: auto;
        text-align: center;
    }
    nav .pull-right a{
        line-height: 10vh;
    }

.realPage #burgerMenu{
        height: 70px;
        width: 70px;
        display: block;
        position: fixed;
        right: 0;
        z-index: 100;
        opacity: 100%;
        cursor: pointer;
        margin-right: 25px;
    }   
}



/************************************************************************************* HEADER **************************************************************************************/
header{
    height: fit-content;
    width: 100vw;
    background-image: url("img/img-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    text-align: center;
}

h1{
    margin-top: 0;
    color: white;
    text-transform: uppercase ;
    font-weight: 750 ;
    font-size: 8rem;
    letter-spacing: 2rem;
    padding-top: 10rem;
    margin-left: auto;
    width: fit-content;
    margin-bottom: 15rem;
    word-break: break-word;
}

.encres{
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: right;
    padding-right: 1rem;
    border-right: 4px solid white;
    margin-bottom: 10rem;
}

.encres a{
    color: white;
    font-size: 5rem;
}

.socialMedia img{
    width: 3rem;
    display: block;
    margin-top: 2rem;
    transition: ease-in-out .1s;
    opacity: 50%;
}

.socialMedia img:hover{
    opacity: 100%;
}

h3{
    font-family: 'Mr Dafoe', cursive;
    color: white;
}

/* Boutton scroll */

.scrollWrap{
    display:flex;
    position:relative;
    justify-content:center;
    bottom:-15rem;
}
.scroll{
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: #ffffff 3px solid;
    border-radius: 40%;
    width: 35px;
    height: 50px;
    animation-name: animF;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    color: transparent;
    position: absolute;
    bottom : 3vh;
    transition: 0.25s;
}

.scroll:visited{
    border: white 2px solid;
    color: transparent;
}

.scroll:hover{

    color: transparent;
}

.scroll::before{
    content: "";
    width: 5px;
    height: 8px;
    border: #ffffff 3px solid;
    position: absolute;
    border-radius: 100%;
    margin: 40% 40%;
    transition: 0.25s;
}

.scroll::after{
    content: "";
    width: 15px;
    height: 15px;
    border-top: #ffffff 3px solid;
    border-right: #ffffff 3px solid;
    position: absolute;
    top: 45px;
    right: -5px;
    transform: rotate(132deg);
    margin: 40% 40%;
    animation-name: opa;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    transition: 0.25s;
}

@keyframes animF{
    0%{
        transform: translateY(3px)
    }
    100%{
        transform: translateY(-3px)
    }
}
@keyframes opa{
    0%{
         opacity: 100%;
    }
    100%{
        opacity: 10%;
    }
}

header::after{
    content: "";
    display: block;
    height: 25vh;
    background: linear-gradient(transparent, #f6f6f6);
}

#apropos::before{
    content: "";
    display: block;
    height: 12vh;
    background: linear-gradient(transparent, #ffffff);
   margin-top: -5rem;
    
}

/************************************************************************************* Section Globales **************************************************************************************/

 h2::before{
    content: "";
    width: 5rem;
    border-top: 4px solid  #06195d;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

h2{
    width: fit-content;
    text-align: center;
    text-transform: uppercase;
    display: inline-block; 
    color:  #06195d;
    font-weight: bold;
    margin-bottom: 7rem;
}

h2::after{
    width: 5rem;
    content: "";
    border-top: 4px solid  #06195d;
    display: block;
    margin: auto;
    margin-top: 1rem;
}

p{
    font-size: 1.6rem;
    color:  #06195d;
    z-index: 1;
}


/************************************************************************************* A propos **************************************************************************************/
#apropos{
    height: fit-content;
    padding-top: 8rem;
    position: relative;
}

#apropos h2{
    display: block;
    width: fit-content;
    text-align: right;
    margin-left: auto;
}


#apropos .competences img{
    max-width: 150px;
    max-height: 150px;
   display: block;
    margin: auto;
    margin-top: 5rem;
}

.caption p{
    margin-top: 5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 8rem;
}

b{
    color: #698fe0;
    text-transform: capitalize;
}

.rocimg{
    position: absolute;
    width: 420px;
    right: 60%;
    bottom: -30%;
}

@media (min-width: 992px){
    #apropos .textepropos{
        text-align: right;
        }
}
/************************************************************************************* Realisations **************************************************************************************/
#real{
    position: relative;
    width: 100vw;
    background-image: url(img/img-meduse.png);
    background-repeat: no-repeat;
    background-size: calc(max(25%, 250px));
    background-position: right 10% top 0;
    padding-top: 5rem;
}

#real h2{
    display: block;
    text-align: left;
    width: fit-content;
    margin-right: 0;
}

.boutontrav{
    padding-top: 5rem;
    justify-content: space-between;
}

#real .boutontrav .pic{
    margin-top: 2rem;
    width: 48%;
    line-height: 12vh;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 2rem;
    text-align: center;
    color: white;
}

#real .boutontrav .pic:hover{
    color: #06195d;
}

.meduse{
    right: 0;
    width: 50%;
    top: -10rem;
    max-width: 600px;
    position: absolute;
}
.vaisseau{
    margin-top: 5rem;
    margin-bottom: -5rem;
    max-width: 410px;
}

.pictureprez{
    padding: 0;
    margin-top: 15rem;
    
}
.pictureprez .pic{
  
border-radius: 20%;
margin-bottom: 2rem;

    }

.merEtRoc{
    width: 100vw;
}

@media (max-width: 992px){
    p{
        text-align: left;
    }

    #apropos h2{
        margin: auto;
        margin-bottom:2rem ;
    }

    #real h2{
        margin: auto;
        margin-bottom:2rem ;
    }
}

@media (max-width: 992px){
    #real .boutontrav .pic{
        min-width: 22vw;
    }

    #real{
        padding-top: 30vh;
    }
}
    
@media (max-width: 992px) and (min-width:768px){
    #real .boutontrav .pic{
        min-width: 24%;
            
    }
}
/************************************************************************************* Contact **************************************************************************************/

footer{
    height: fit-content;
    width: 100vw;
    background-image: url(img/img-fond.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 10rem;
}

footer h2{
    margin-top: 15rem;
    margin-bottom: 15rem;
}

.coordonnees{
    margin-bottom: 5rem;
}

footer .socialMedia{
    margin-top: 4rem;
    display: flex;
}

footer .socialMedia img{
    margin-right: 2rem;
}

.noPhp{
    color: white;
}

#contact a{
    color: #698fe0;
    font-size: 16px;
}

#contact input{
    font-size: 16px;
}

#contact textarea{
    font-size: 16px;
}

@media (max-width:768px){
    .encres a{
        font-size: 3rem;
    }
    .encres li{
       margin-bottom: 2rem;
    }
    .scroll{
        display: none;
    }
    #real .boutontrav .pic{
    font-size: 1.3rem;
    }
    #real img.pic{
        width: 40vw;
        display: block;
        margin: auto;
    }
}

@media (max-width:543px){
    .coordonnees{
        text-align: center;
        background-color: white;
        border-radius: 2rem;
        padding: 2rem;
        box-sizing: border-box;

    }
}

/************************************************************************************* RealPage **************************************************************************************/
.realPage{
    background-position: center bottom -80px;
    background-repeat: no-repeat;
    margin-top: 5vh;
    max-height: 100vh;
}

.realPage h1::before{
    content: "";
    width: 5rem;
    border-top: 4px solid  #06195d;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}
    
.realPage  h1{
    width: fit-content;
    text-align: center;
    text-transform: uppercase;
    display: block; 
    color:  #06195d;
    font-weight: bold;
    margin-bottom: 4rem;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0;
    padding-top: 3rem;
}
    
.realPage  h1::after{
        width: 5rem;
        content: "";
        border-top: 4px solid  #06195d;
        display: block;
        margin: auto;
        margin-top: 1rem;
}

.realPage h2{
    margin-bottom: 3rem;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    text-transform: initial;
}

.realPage h2 a{
    color: #06195d ;
}

.realPage h2 b{
    color: #06195d;
    text-transform: initial;
}

.realPage h2 a:hover{
    color: #698fe0 ;
}

.realPage  h2:after{
        content: none;
}    
.realPage  h2:before{
        content: none;
}  

.realPage  h3{
    margin-left: 1rem;
}

.pictureprez h3::before{
    content: "";
    width: 5rem;
    border-top: 4px solid  #06195d;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}
        
.pictureprez h3{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-transform: uppercase;
    display: inline-block; 
    color:  #06195d;
    font-weight: bold;
    margin-bottom: 7rem;
    font-size: 30px;
}
    
.pictureprez h3::after{
    width: 5rem;
    content: "";
    border-top: 4px solid  #06195d;
    display: block;
    margin: auto;
    margin-top: 1rem;
}

.realPage .btn{
    margin-bottom: 5rem;
}

.carousel{
    margin-bottom: 2rem;
    background-color: rgba(241, 241, 241, 0);
}

.item{
    background-image: url(img/img-real.jpg);
    background-size: cover;
    background-position: bottom -5rem left -5rem;
   
}

.realPage .btn.btnModal{
    margin-bottom: 15px;
}

.btnModal{
    background-image: url(img/icon_fillsize.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    min-width: 50px;
    min-height: 50px;
    border-radius: 0;
    position: absolute;
    z-index: 100;
    right: 15px;
    bottom: 0;
}

.btnModal:hover{

    background-color: transparent;
    border: none;
    min-width: 55px;
    min-height: 55px;
    border-radius: 0;
    right: 12px;
    bottom: -1px;
}

.btnModal:focus{
    background-image: url(img/icon_fillsize.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    min-width: 50px;
    min-height: 50px;
    border-radius: 0;
    position: absolute;
    z-index: 100;
    right: 15px;
    bottom: 0;
}

.item img{
    max-height: 80vh;
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

.carousel-control{
    opacity: 30%;
}

.realPage .pictureprez{
    margin-top: 0;
    margin-bottom: 0;
}

.realPage .pictureprez div{
    margin-top: 2rem;
}

.realPage .pictureprez img{
  display: block;
  margin: auto;
  margin-bottom: 2rem;
}

@media (max-width:768px){
    img.pic{
    width: 40vw;
    }
}

@media (min-width:992px){
    .realPage .container-fluid{
        margin-left: 12%;
    }

    .realPage .row{
        display: flex;
        height: 30vw;
        margin-bottom: 5rem;    
    }

    .item img{
        margin-right: 0;
        margin-left: auto;
        max-height: 30vw;
        height: 25px;
    }

    .realPage .textepropos{
        height: inherit;
        overflow-y: scroll ;
        margin: 0;
        margin-bottom: 0;
    }

    .realPage .textepropos::-webkit-scrollbar {
        width: 10px;
    }
    
    .realPage .textepropos::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .realPage .textepropos::-webkit-scrollbar-thumb {
        background: #06195d;
        border-radius: 5rem;
    }

    .realPage .textepropos::-webkit-scrollbar-thumb:hover {
        background: #698fe0;
    }
}

.realPage p span{
    display: block;
 margin: 30px auto 0 auto;
 text-align: center;
    font-weight: bolder;
}
    
@media (max-width: 992px){
    .item img{

        margin: auto;

    }
}
/************************************************************************************* MODAL **************************************************************************************/
.modal-header{
    border: none;
}

.modal-dialog{
    margin: 0;
}

.modal-content{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.938);
}

.close{
    background-image: url(img/icon_menucroix.svg);
    height: 70px;
    width: 70px;
    position: absolute;
    right: 0;
    display: block;
    cursor: pointer;
    z-index: 200;
}

.modal-body img{
    max-height: 90vh;
    max-width: 90vw;
    display: block;
    margin: auto;
    padding-top: 70px;
}